<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}"></li>
        <li th:if="${user.email}" th:text="${user.email}">
        <li th:if="${user.email == null}" th:text="${'Email no disponible'}"></li>
        </li>

    </ul>
    <a th:href="@{/list}">Volver a la lista</a><br>
    <a th:href="@{/api/params/foo?message=Hola Springboot desde detailscambia url}">Llamar a la API con parámetros</a><br>
    <a th:href="@{/api/params/foo(message='Hola Springboot desde details(cambia url)')}">Llamar a la API con parámetros 2</a><br>
    <a th:href="@{/api/params/bar(text='Peperonix2', code=432134)}">Llamar a la API con parámetros 3</a><br>
    <a th:href="@{/api/var/baz/Muzzarella}">Llamar a la API con path variable</a><br>
    <a th:href="@{'/api/var/baz/' + ${user.name}}">Llamar a la API con path variable username</a><br>
</body>
</html>